    <div id="AtualizarProfessores" style="height: 72vh;"
        class="w-full h-screen flex justify-center items-center" >
        <div class="flex items-start relative top-6 flex-col justify-start w-5/12 h-5/6 bg-gray-200 relative rounded-xl shadow-xl">
            <!-- <button id="Fechar" class="absolute top-6 right-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-900" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>  -->
            <form class="flex items-start mt-12 flex-wrap justify-center mt-8" method="post">
                <div class="flex items-start text-gray-900 flex-col justify-center">
                    <div class="flex items-start flex-col justify-center">
                        <label for="nome">Nome:</label>
                        <input type="text" class="py-1 w-72" required maxlength="30" minlength="3" id="nome" name="nome">
                    </div>

                    <div class="flex items-start mt-2 flex-col justify-center">
                        <label for="senha">Senha:</label>
                        <input type="password" class="py-1 w-72" required maxlength="20" minlength="10" id="senha" name="senha">
                    </div>

                    <div class="flex items-start mt-2 flex-col justify-center">
                        <label for="email">Email:</label>
                        <input type="email" class="py-1 w-72" required maxlength="30" minlength="10" id="email" name="email">
                    </div>
                </div>

                <div class="flex items-start flex-col justify-center">
                    <div class="flex items-start text-gray-900 ml-4 flex-col justify-center">
                        <label for="datadenascimento">Data De Nascimento(YYYY-MM-DD):</label>
                        <input type="text" class="py-1 w-72" required id="datadenascimento" name="datadenascimento">
                    </div>

                    <div class="flex items-start text-gray-900 ml-4 mt-2 flex-col justify-center">
                        <label for="endereço">Endereço:</label>
                        <input type="text" class="py-1 w-72" id="endereço" required maxlength="40" minlength="5" name="endereço">
                    </div>

                    <div class="flex items-start text-gray-900 ml-4 mt-2 flex-col justify-center">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" class="py-1 w-72" required maxlength="11" minlength="11" name="telefone">
                    </div>
                </div>

                <div class="flex items-start text-gray-900 justify-center">
                    <div class="flex items-start text-gray-900 flex-col justify-center">
                        <div class="flex items-start mt-2 flex-col justify-center">
                            <label for="rg">RG:</label>
                            <input type="text" class="py-1 w-72" id="rg" required maxlength="9" minlength="9" name="rg">
                        </div>
                        <div class="flex items-start mt-2 flex-col justify-center">
                            <label for="cpf">CPF:</label>
                            <input type="text" class="py-1 w-72" id="cpf" required maxlength="11" minlength="11" name="cpf">
                        </div>
                        <div class="flex items-start mt-2 flex-col justify-center">
                            <label for="vencimentopagamento">Vencimento do Pagamento(YYYY-MM-DD):</label>
                            <input type="text" class="py-1 w-72" required id="vencimentopagamento" name="vencimentopagamento">
                        </div>
                    </div>

                    <div class="flex items-start text-gray-900 flex-col justify-center">
                        <div class="flex items-start text-gray-900 mt-2 flex-col justify-center">
                            <label for="turma">Turma:</label>
                            <input type="text" class="py-1 w-72" required maxlength="1" minlength="1" id="turma" name="turma">
                        </div>
                        <div class="flex items-start text-gray-900 mt-2 flex-col justify-center">
                            <label for="curso">Curso:</label>
                            <input type="text" class="py-1 w-72" required maxlength="30" minlength="5" id="curso" name="curso">
                        </div>
                    </div>
                </div>
                <div class="flex items-end justify-center absolute bottom-8 right-8">
                    <input class="text-white bg-yellow-700 px-4 py-1" type="reset">
                    <input class="text-white ml-4 bg-blue-900 px-8 py-2" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>