     <form id="CadastrarPessoa" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="senha">Senha:</label>
        <input type="text" id="senha" name="senha">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="datadenascimento">Data De Nascimento(YYYY-MM-DD):</label>
        <input type="text" id="datadenascimento" name="datadenascimento">
        <label for="endereço">Endereço:</label>
        <input type="text" id="endereço" name="endereço">
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone">
        <div>
            <label for="professor">Professor:</label>
            <select id="professor" name="professor">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
            <label for="admin">Admin:</label>
            <select id="admin" name="admin">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select></div>

        <label for="vencimentopagamento">Vencimento do Pagamento(YYYY-MM-DD):</label>
        <input type="text" id="vencimentopagamento" name="vencimentopagamento">
        <label for="turma">Turma:</label>
        <input type="text" id="turma" name="turma">
        <label for="curso">Curso:</label>
        <input type="text" id="curso" name="curso">
        <div>
            <input type="submit" value="Submit">
            <input type="reset">
        </div>
    </form>