    <form class="cadastrar-curso" action="/cadastrarcurso" method="post">
        <label for="curso">Curso</label>
        <input type="text" id="curso" name="curso">
        <label for="professores">Professores:</label>
        <input type="text" id="professores" name="professores">
        <label for="horarios">Horarios:</label>
        <input type="text" id="horarios" name="horarios">
        <label for="alunosmatriculados">AlunosMatriculados:</label>
        <input type="text" id="alunosmatriculados" name="alunosmatriculados">
        <div>
            <input type="submit" value="Submit">
            <input type="reset">
        </div>
    </form>