    <form class="cadastrar-instrumentos" action="/cadastrarinstrumento" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="imagem">Imagem:</label>
        <input type="text" id="imagem" name="imagem">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo">
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo">
        <label for="tamanhocms">Tamanho em Cms:</label>
        <input type="text" id="tamanhocms" name="tamanhocms">
        <label for="pesokgs">Peso em Kgs:</label>
        <input type="text" id="pesokgs" name="pesokgs">
        <div>
            <input type="submit" value="Submit">
            <input type="reset">
        </div>
    </form>