    <form class="cadastrar-pessoa hidden" id="CadastrarPessoa" action="" method="post">
        <label class="ModificarUsuario DeletarUsuario GP" for="id">id:</label>
        <input class="ModificarUsuario DeletarUsuario GP" type="text" id="id" name="id">
        <label class="CriarUsuario ModificarUsuario GP" for="nome">Nome:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="nome" name="nome">
        <label class="CriarUsuario ModificarUsuario GP" for="senha">Senha:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="senha" name="senha">
        <label class="CriarUsuario" for="email">Email:</label>
        <input class="CriarUsuario" type="text" id="email" name="email">
        <label class="CriarUsuario ModificarUsuario GP" for="datadenascimento">Data De Nascimento(YYYY-MM-DD):</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="datadenascimento" name="datadenascimento">
        <label class="CriarUsuario ModificarUsuario GP" for="endereço">Endereço:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="endereço" name="endereço">
        <label class="CriarUsuario ModificarUsuario GP" for="telefone">Telefone:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="tel" id="telefone" name="telefone">
        <label class="CriarUsuario ModificarUsuario" for="rg">RG:</label>
        <input class="CriarUsuario ModificarUsuario" type="text" id="rg" name="rg">
        <label class="CriarUsuario ModificarUsuario" for="cpf">CPF:</label>
        <input class="CriarUsuario ModificarUsuario" type="text" id="cpf" name="cpf">

        <div>
            <label class="CriarUsuario ModificarUsuario GP" for="professor">Professor:</label>
            <select class="CriarUsuario ModificarUsuario GP" id="professor" name="professor">
                <option class="CriarUsuario ModificarUsuario GP" value="true">Sim</option>
                <option class="CriarUsuario ModificarUsuario GP" value="false">Não</option>
            </select>
            <label class="CriarUsuario ModificarUsuario GP" for="admin">Admin:</label>
            <select class="CriarUsuario ModificarUsuario GP" id="admin" name="admin">
                <option class="CriarUsuario ModificarUsuario GP" value="true">Sim</option>
                <option class="CriarUsuario ModificarUsuario GP" value="false">Não</option>
            </select></div>

        <label class="CriarUsuario ModificarUsuario GP" for="vencimentopagamento">Vencimento do Pagamento(YYYY-MM-DD):</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="vencimentopagamento" name="vencimentopagamento">
        <label class="CriarUsuario ModificarUsuario GP" for="turma">Turma:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="turma" name="turma">
        <label class="CriarUsuario ModificarUsuario GP" for="curso">Curso:</label>
        <input class="CriarUsuario ModificarUsuario GP" type="text" id="curso" name="curso">
        <div>
            <input class="CriarUsuario ModificarUsuario DeletarUsuario GP" type="submit" value="Submit">
            <input class="CriarUsuario ModificarUsuario DeletarUsuario GP" type="reset">
        </div>
    </form>