    <div id="DeletarCurso"
        class="fixed top-0 left-0 w-full h-screen hidden bg-gray-900 bg-opacity-40 flex justify-center items-center">
        <div class="flex items-start flex-col justify-start w-1/3 h-72 bg-gray-200 relative rounded-xl shadow-xl">
            <form action="/deletarcursos" id="DeletarForm" class="flex w-full h-full items-center flex-col justify-center mt-8"
                method="post">

                <h1 class="font-semibold text-3xl ">Deseja Mesmo Deletar este curso?</h1>


                <div class="flex items-center justify-center mt-8">
                    <input class="bg-red-900 rounded-xl h-12 text-white w-24 text-center" type="button" id="sair" value="Não">
                    <input class="bg-blue-900 rounded-xl h-12 ml-4 text-white w-24 text-center" type="submit" value="Sim">
                </div>

            </form>
        </div>
    </div>