<header>
    <div class="LogoHeader">
        <a href="/home"> <img src="assets/GoodHarmony-logo.png" alt="">
        </a>
    </div>
    <div class="wrapperHeader">
        <a href="professores">Professores</a>
        <a href="instrumentos">Instrumentos</a>
        <a href="cursos">Cursos</a>
        <a href="gerenciaralunos">Gerenciar Alunos</a>
        <a href="gerenciarinstrumentos">Gerenciar Instrumentos</a>
        <a href="gerenciarcursos">Gerenciar Cursos</a>
        <a href="gerenciarprofessores">Gerenciar Professores</a>
    </div>
    <h1><%= username %></h1>
</header>