<header>
    <div class="LogoHeader">
        <a href="/"> <img src="assets/GoodHarmony-logo.png" alt="">
        </a>
    </div>
    <div class="wrapperHeader">
        <a href="professores">Professores</a>
        <a href="instrumentos">Instrumentos</a>
        <a href="cursos">Cursos</a>
    </div>
    <a href="login"><button class="BtnHeader">Join Now</button></a>
</header>