<header class="flex w-full h-20 items-center bg-white justify-between px-24 shadow-md overflow-hidden">
    <div class="flex justify-around">
    <div class="LogoHeader">
        <a href="/" class="z-0"> <img src="assets/GoodHarmony-logo.png" alt="">
        </a>
    </div>    
    <div class="flex items-center justify-around w-3/5">
        <a href="professores" class="text-gray-900 font-semibold ml-4 text-lg">Professores</a>
        <a href="instrumentos" class="text-gray-900 font-semibold ml-4 text-lg">Instrumentos</a>
        <a href="cursos" class="text-gray-900 ml-4 font-semibold text-lg">Cursos</a>
    </div>
    <h1>%=username</h1>
    </div>
</header>
