<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Atualizar Aluno</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    
    <%- include("./partials/AtualizarPessoa.ejs")%> 
    
    <%- include("./partials/footer.ejs") %>    
</body>
</html>