<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Atualizar Curso</title>
</head>
<body class="bg-gray-900 bg-opacity-40 ">
    <%- include(header) %>
    
    <%- include("./partials/AtualizarCurso.ejs")%> 
    
    <%- include("./partials/footer.ejs") %>    
</body>
</html>