<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Atualizar Aluno</title>
</head>
<body class="bg-gray-900 bg-opacity-40 ">
    <%- include(header,{username}) %>
    
    <%- include("./partials/AtualizarProfessores.ejs")%> 
    
    <%- include("./partials/footer.ejs") %>    
</body>
</html>