<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Cursos</title>
</head>

<body>
      <%- include(header) %>
    <main class="min-h-screen">
      <div class="flex items-center flex-wrap">
      <%- ExibirCursos %>
      </div>
    </main>
      <%- include("./partials/footer.ejs") %>
</body>

</html>