<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Home</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <main class="min-h-screen">
 <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>

    <section>
        <div>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero facere totam, facilis voluptate quam iste officiis, voluptatum aliquam dignissimos sit soluta error! Neque illum aperiam similique possimus accusantium quod, sed ad saepe pariatur sequi quo velit sit adipisci maxime.</p>
        </div>
    </section>
    
    </main>
   
    <%- include("./partials/footer.ejs") %>    
</body>
</html>