<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %> 
    <title>Home</title>
</head>
<body>
    <%- include(header) %>
    <main class="min-h-screen">
        
    </main>
   
    <%- include("./partials/footer.ejs") %>    
</body>
</html>