<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Instrumentos</title>
</head>

<body class="bg-gray-800">
      <%- include("./partials/header.ejs") %>
    <main class="min-h-screen">
     <%- ExibirInstrumentos %> 
    </main>
      <%- include("./partials/footer.ejs") %>
</body>

</html>