<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="css/login.css">
    <title>Instrumentos</title>
</head>

<body>
      <%- include("./partials/header.ejs") %>
    <main>
     <%- ExibirInstrumentos %> 
    </main>
      <%- include("./partials/footer.ejs") %>
</body>

</html>