<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Professores</title>
</head>

<body>
      <%- include(header) %>
    <main class="min-h-screen">
      <div class="flex justify-center flex-wrap items-center">        
      <%- ExibirProfessores %>    
      </div>
    
    </main>
      <%- include("./partials/footer.ejs") %>
</body>

</html>